Adafruit-PureIO==1.1.11
Adafruit_GPIO==1.0.3
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-cors==0.8.1
aiosignal==1.4.0
attrs==25.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
frozenlist==1.7.0
idna==3.10
mock==5.1.0
multidict==6.6.4
pi-ina219==1.4.1
propcache==0.3.2
pyjson5==1.6.8
pyserial==3.5
pyusb==1.3.1
requests==2.32.3
urllib3==2.3.0
yarl==1.20.1
rpi_ws281x==5.0.0