:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    height: 100%;
}

body {
    overflow: hidden;
}

.p-tabview {
    height: 100%;
    overflow: hidden;
}

.p-splitter {
    height: 100%;
}

.p-card-body {
    padding: 0.5rem;
}

.p-card-content {
    padding: 0.5rem;
}

.p-card-title {
    margin-bottom: 0.25rem;
}