:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
main,
.p-tabview-panels,
.p-tabview-panel,
.p-splitter,
.p-datatable-wrapper {
    height: 100%;
}

.p-tabview {
    height: 93%;
}

#root,
body {
    height: 100%;
    overflow: hidden;
}

.p-card-body {
    padding: 0.5rem;
}

.p-card-content {
    padding: 0.5rem;
}

.p-card-title {
    margin-bottom: 0.25rem;
}

.value-text {
    transform: translate(0, 80)
}