:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html,
main,
.p-tabview,
.p-tabview-panels,
.p-tabview-panel,
.p-splitter {
    height: 100%;
}

body {
    overflow: hidden;
}

#root {
    height: 100%;
    overflow: hidden;
}

.p-card-body {
    padding: 0.5rem;
}

.p-card-content {
    padding: 0.5rem;
}

.p-card-title {
    margin-bottom: 0.25rem;
}